name: Run linter
on: pull_request
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: use node.js v25.x
        uses: actions/setup-node@v3
        with:
          node-version: 25.x
      - run: npm ci
      - run: npm run lint
      - run: npm run build:spec
