name: Run linter
on: pull_request
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: use node.js v19.x
        uses: actions/setup-node@v1
        with:
          node-version: 19.x
      - run: npm ci
      - run: npm run lint
      - run: npm run build:spec
