name: Run tests
on:
  pull_request:
  push:
    branches:
      - main
jobs:
  test-polyfill:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: use node.js v20.x
        uses: actions/setup-node@v3
        with:
          node-version: 20.x
      - run: npm ci
      - run: npm run test-demitasse
        env:
          HEAD_SHA: ${{ github.event.pull_request.head.sha }}
  test-test262:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - name: use node.js v20.x
        uses: actions/setup-node@v3
        with:
          node-version: 20.x
      - run: npm run codecov:test262
      - uses: codecov/codecov-action@v4
        with:
          files: coverage/test262.lcov
          working-directory: polyfill
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
  test-cookbook:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: use node.js v20.x
        uses: actions/setup-node@v3
        with:
          node-version: 20.x
      - run: npm ci
      - run: npm run test-cookbook
  test-validstrings:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: use node.js v20.x
        uses: actions/setup-node@v3
        with:
          node-version: 20.x
      - run: npm ci
      - run: |
          cd polyfill
          npm install
          node test/validStrings.mjs
